
.collaborate-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88px;
    min-height: 683px;
    background: linear-gradient(to top, #212529 0%, #495057 100%);;
    .image-container{
        width: 682px;
        height: 488px;
        max-width: 682px;
        max-height: 488px;
        display: contents;
    }
    .create-container{
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        max-width: 562px;
        gap: 24px;
        padding-right: 50px;
        .title{
            font-size: 64px;
            text-align: right;
        }
        .text{
            font-size: 16px;
            text-align: right;
            margin: 0;
        }
        .buttom-container{
            display: flex;
            gap: 16px;
            justify-content: flex-end;
            .btn-primary-white{
                height: 50px;
                width: 123px;
            }
        }
    }
}

.contact-container{
    min-height: 955px;
    display: flex;
    justify-content: center;
    .form-container{
        max-width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        .title{
            font-size: 32px;
            text-align: left;
            width: 91%;
        }
        .text{
            font-size: 16px;
            text-align: left;
            margin-top: 23px;
        }
        form{
            width: 100%;
        }
        .inputs-container{
            display: flex;
            flex-direction: column;
            margin-top: 42px;
            min-width:auto;
            .input-container{
                width: 100%;
                position: relative;
                textarea{
                    min-height: 200px;
                    max-height: 200px;
                    max-width: -webkit-fill-available;
                    min-width: -webkit-fill-available;
                    padding-top: 12px;
                }
                .custom-input-text{
                    padding-left: 12px;
                    padding-right: 36px;
                    background: transparent;
                    border: 1px solid #6C757D;
                    border-radius: 6px;
                    height: 46px;
                    width: -webkit-fill-available;
                    outline: none;
                    
                }
                img{
                    cursor: pointer;
                    width: 24px;
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .validator-container{
            margin-top: 24px;
            width: -webkit-fill-available;
            .wrapper{
                width: -webkit-fill-available;
                display: flex;
                justify-content: flex-end;
                .validator{
                    color: rgb(177, 35, 35);
                    align-content: center;
                    width: -webkit-fill-available;
                }
                .btn-primary-dark{
                    align-self: flex-end;
                    width: 80px;
                    height: 50px;
                    min-width: 80px;
                    span{
                        font-size: 14px;
                    }
                }
            }
           
        }
        
    }
    .contact-info{
        max-width: 627px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 40px;
        .model-container{
            height: 518px;
            width: 518px;
            padding-left: 60px;
        }
        .info-container{
            padding-left: 60px;
            height: 228px;
            width: 507px;
            display: flex;
            justify-content: flex-start;
            gap: 12px;
            .left-side{
                display: flex;
                flex-direction: column;
                gap: 12px;
                justify-content: flex-start;
                max-width: 327px;
                min-width: 327px;
                .info-details{
                    border: 8px solid #343A40;
                    border-radius: 8px;
                    min-height: 74px;
                    max-height: 74px;
                    padding: 12px 8px;
                    display: flex;
                    gap:8px;
                    flex-direction: column;
                    justify-content: center;
                    .title{
                        font-size: 12px;
                    }
                    .mail{
                        font-size: 16px;
                    }
                    .phone{
                        font-size: 16px;

                    }
                }
                .bottom-side{
                    display: flex;
                    justify-content: space-between;
                    .ubiquity{
                        border: 8px solid #343A40;
                        border-radius: 8px;
                        padding: 12px 8px;
                        display: flex;
                        gap:12px;
                        flex-direction: column;
                        justify-content: center;
                        min-width: 143px;
                        min-height: 62px;
                        max-height: 62px;
                        .ubiquity-indicator{
                            display: flex;
                            justify-content: space-between;
                            .title{
                                font-size: 10px;
                                line-height: 26px;
                            }
                            .location{
                                background: #393d41;
                                padding: 4px;
                                font-size: 10px;
                                height: 18px;
                                line-height: 18px;
                            }
                        }
                        .location-container{
                            display: flex;
                            gap: 4px;
                            img{
                                width: 24px;
                            }
                            .location-text{
                                font-size: 12px;
                                line-height: 24px;
                            }
                        } 
                    }
                    .time{
                        border: 8px solid #343A40;
                        border-radius: 8px;
                        padding: 12px 8px;
                        display: flex;
                        gap:12px;
                        flex-direction: column;
                        justify-content: center;
                        min-width: 100px;
                        min-height: 62px;
                        max-height: 62px;
                        .time-zone{
                            display: flex;
                            justify-content: space-between;
                            .title{
                                font-size: 10px;
                                line-height: 26px;
                            }
                            .time-text{
                                background: #393d41;
                                padding: 4px;
                                font-size: 10px;
                                height: 18px;
                                line-height: 18px;
                            }
                        }
                        .location-container{
                            display: flex;
                            gap: 4px;
                            img{
                                width: 24px;
                            }
                            .location-text{
                                font-size: 12px;
                                line-height: 24px;
                            }
                        } 
                    }
                }
            }
            .social-media{
                border: 8px solid #343A40;
                border-radius: 8px;
                padding: 12px 8px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                min-width: 136px;
                max-width: 136px;
                .title{
                    font-size: 12px;
                }
                .social-media-text{
                    cursor: pointer;
                    font-size: 16px;
                    line-height: 40px;
                    text-decoration: underline;
                }
            }
        }
    }
}


@media only screen and (max-width: 768px)  {
    .collaborate-container{
        flex-direction: column;
        padding-left: 20px;
        padding-top: 54px;
        .create-container{
            .title{
                text-align: left !important;
                font-size: 48px !important;
                line-height: 56px !important;
            }
            .text{
                text-align: left !important;
            }
            .buttom-container{
                justify-content: flex-start ;
            }
        }
        
    }
    .contact-container{
        flex-direction: column;
        .form-container{
            padding-top: 119px !important;
            min-width: 100% !important;
            max-width: 100% !important;
            .title{
                min-width: -webkit-fill-available !important;
                max-width: -webkit-fill-available !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
            .text{
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
            .inputs-container{
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
            .validator-container{
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
        }
        .contact-info{
            padding-top: 48px !important;
            padding-bottom: 103px !important;
            min-width: 100% !important;
            max-width: 100% !important;
            align-items: center;
            .model-container{
                padding-left: 0px !important;
            }
            .info-container{
                padding-left: 0px !important;
            }
        }
    }
}

@media only screen and (max-width: 540px)  {
    .collaborate-container{
        gap: 16px !important;
        .image-container{
            width: 100%;
            height: auto;
            display: flex;
            overflow: hidden;
        }
    }
    .contact-container{
        .form-container{
            .title{
                min-width: -webkit-fill-available !important;
                max-width: -webkit-fill-available !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
        }
        .contact-info{
            min-width: -webkit-fill-available !important;
            max-width: -webkit-fill-available !important;
            .model-container{
                width: 350px;
                height: 350px;
            }
            .info-container{
                padding-left: 20px !important;
                padding-right: 20px !important;
                flex-direction: column;
                width: -webkit-fill-available !important;
                height: auto !important;
                .left-side{
                    max-width: -webkit-fill-available !important;
                    min-width: -webkit-fill-available !important;
                    .bottom-side{
                        gap: 12px;
                        .ubiquity{
                            border-left: 16px solid #343A40;
                            border-right: 16px solid #343A40;
                            width: -webkit-fill-available;
                        }
                        .time{
                            border-left: 12px solid #343A40;
                            border-right: 12px solid #343A40;
                            width: -webkit-fill-available;
                        }
                    }
                    
                }
                .social-media{
                    max-width: -webkit-fill-available !important;
                    min-width: -webkit-fill-available !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 380px)  {
    .bottom-side{
        flex-direction: column;
    }
}