<div class="about-container bg-primary-gradient">
    <div class="picture-container"></div>
    <div class="presentation-container">
        <h2 class="fira-bold color-white1">
            WHO I AM
        </h2>
        <p class="nunito-regular color-white2">
            Always asking myself how to make it better, or even, how to make it simpler. Minimal design for complex purposes, better experiences, clean design.
        </p>
        <div class="buttom-container">
            <div class="btn-secondary-white" (click)="goProjects()">
                <span class="fira-medium color-medium2">
                    My works
                </span>
            </div>
            <div class="btn-primary-white">
                <span class="fira-medium color-dark3">
                    Download CV
                </span>
            </div>
        </div>
    </div>
</div>

<div class="skills-container">
    <div class="wrapper bg-white1">
        <div class="skill-details">
            <span class="title fira-bold color-dark2">
                Web Layout
            </span>
            <span class="text nunito-regular color-dark4">
                Fundamental knowledge on HTML, CSS3 and web wireframing. Learning how to implement my own design to know better the difficulty of proposed creative solutions within a team. 
            </span>
        </div>
        <div class="skill-details">
            <span class="title fira-bold color-dark2">
                Product Design
            </span>
            <span class="text nunito-regular color-dark4">
                Profound knowledge on how to design a product from scratch, planning and establishing the product design and architecture axis from where to start building graphical assets and much more.
            </span>
        </div>
    </div>
    <div class="wrapper bg-dark5">
        <div class="skill-details">
            <span class="title fira-bold color-white1">
                UX Design
            </span>
            <span class="text nunito-regular color-white2">
                Creating better user experience designs through time, with complex design patterns that guarantee the success of the designed product to give to users unforgettable and amicable experiences.
            </span>
        </div>
        <div class="skill-details">
            <span class="title fira-bold color-white1">
                UI Design
            </span>
            <span class="text nunito-regular color-white2">
                Striking designs with simpler elements and profound awareness of space and perception. How to use a GUI to convey abstract concepts that represents our brand and product.
            </span>
        </div>
    </div>
</div>

<div class="myself-container bg-white1">
    <div class="wrapper">
        <span class="title fira-bold color-dark5">
            Myself
        </span>
        <p class="text nunito-regular color-dark4">
            Born in Caracas, Venezuela, in 1999. <br>
            Always concerned on visual development and reality construction from symbolic expressions and metalanguage mechanisms, my orientation through arts and design are tinted by philosophical questions and criticism. Nevertheless, my goal is to implement theoretic knowledge into practice in design project development. Auto-didact I manage myself to learn composition, arts and psychological perception of the shape, using this knowledge in creating unique user experiences in digital products since 2018.  
        </p>
        <span class="date libre-semiBold color-dark4">
            8/10/99
        </span>
    </div>
    
</div>


<app-footer
    [simple]="false"
>
</app-footer>
