.about-container{
    display: flex;
    justify-content: center;
    gap: 123px;
    .presentation-container{
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        max-width: 445px;
        gap: 24px;
        h2{
            font-size: 64px;
            line-height: 56px;
            text-align: right;
            margin: 0;
        }
        p{
            text-align: right;
        }
        .buttom-container{
            display: flex;
            gap: 16px;
            justify-content: flex-end;
            .btn-secondary-white{
                height: 50px;
                width: 111px;
            }
            .btn-primary-white{
                height: 50px;
                width: 176px;
            }
        }
    }
}

.picture-container{
    width: 663px;
    height: 751px;
    max-width: 663px;
    max-height: 751px;
    display: contents;
    img{
        max-width: 663px;
    }
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .wrapper{
        display: flex;
        min-height: 358px;
        max-height: 358px;
        justify-content: center;
        gap: 328px;
        .skill-details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
            .title{
                font-size: 32px;
                max-width: 390px;
                text-align: center;
            }
            .text{
                font-size: 16px;
                line-height: 22px;
                max-width: 390px;
                text-align: center;
            }
        }
    }
}

.myself-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 748px;
    max-height: 748px;
    .wrapper{
        min-width: 999px;
        max-width: 999px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title{
        width: 100%;
        font-size: 44px;
        text-align: left;
    }
    .text{
        margin-top: 80px;
        font-size: 20px;
        text-align: left;
    }
    .date{
        width: 100%;
        margin-top: 36px;
        font-size: 24px;
        text-align: right;
    }
}

@media only screen and (max-width: 768px)  {
    .about-container{
        flex-direction: column;
        margin-top: 34px;
        padding-left: 20px;
        padding-right: 20px;
        gap: 24px;
        .presentation-container{
            margin-bottom: 133px;
            h2{
                text-align: center;
                font-size: 48px;
                line-height: 48px;
            }
            p{
                text-align: center;
            }
            .buttom-container{
                justify-content: center;
            }
        }
    }
    .skills-container{
        .wrapper{
            flex-direction: column;
            justify-content: flex-start !important;
            min-height: 716px !important;
            max-height: 716px !important;
            gap: unset;
            .skill-details{
                min-height: 358px;
                max-height: 358px;
                
                .title{
                    max-width: 350px;
                }
                .text{
                    max-width: 350px;
                }
            }
            .switch-black{
                background-color: #030303;
                .title{
                    color: #F8F9FA !important;
                }
                .text{
                    color: #E9ECEF !important;
                }
            }
            .switch-white{
                background-color: #F8F9FA;
                .title{
                    color: #495057 !important;
                }
                .text{
                    color: #212529 !important;
                }
            }
        }
    }
    
    .myself-container{
        max-height: 657px !important;
        min-height: 657px !important;
        .wrapper{
            max-width: 350px !important;
            min-width: 350px !important;
            padding-left: 20px;
            padding-right: 20px;
            .title{
                font-size: 36px;
            }
            .text{
                margin-top: 30px;
                font-size: 14px;
                line-height: 32px;
            }
        }
    }
}

@media only screen and (max-width: 540px)  {
    .about-container{
        .picture-container{
            width: -webkit-fill-available;
            height: auto;
        }
        .presentation-container{
            max-width: -webkit-fill-available;
        }
    }
    .skills-container{
        .wrapper{
            .skill-details{
                max-width: -webkit-fill-available;
                .title{
                    max-width: 350px !important;
                }
                .text{
                    max-width: 350px !important;
                }
            }
        }
    }
    
}
