<div class="hero-container bg-primary-gradient">
    <div class="presentation-container">
        <h2 class="fira-bold color-white1">
            SEBASTIAN RODRIGUEZ
        </h2>
        <p class="nunito-regular color-white2">
            Collaborating to make this world better. Implementing design to people life and improving how we perceive this home we call our world. Let’s explore how design can innovate with non-expected creative solutions.
        </p>
    </div>
    <div class="overview-container">

    </div>
</div>
<div class="displacer-container bg-dark4">
    <div class="displacer">
        <span class="fira-medium color-white1 ">
            MAKING THINGS BETTER
        </span>
        <span class="fira-medium color-white1 ">
            INNOVATING SOLUTIONS
        </span>
        <span class="fira-medium color-white1 ">
            CREATING EXCELLENT RESULTS
        </span>
    </div>
    
</div>
