.hero-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 51px;
    padding-bottom: 98px;
}

.presentation-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    max-width: 445px;
    gap: 24px;
    h2{
        font-size: 64px;
        line-height: 64px;
        margin: 0;
    }
    .buttom-container{
        display: flex;
        gap: 16px;
        justify-content: flex-start;
        .btn-secondary-white{
            height: 50px;
            width: 111px;
        }
        .btn-primary-white{
            height: 50px;
            width: 176px;
        }
    }
}

.overview-container{
    width: 614px;
    height: 619px;
    max-width: 614px;
    max-height: 619px;
    display: contents;
}

.displacer-container{
    padding: 16px 22px;
    max-height: 175px;
    overflow-x: hidden; 
}

.displacer{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    animation: scroll 30s linear infinite;
    overflow-x: hidden;
    min-width: fit-content;
    span{
        text-align: center;
        min-width: 1800px;
        font-size: 124px;
        display: inline-block;
        overflow-y: hidden;
    }
}

@keyframes scroll {
    from {
      transform: translateX(30%);
    }
    to {
      transform: translateX(-100%);
    }
}



.statement-container{
    display: flex;
    min-height: 358px;
    max-height: 358px;
    align-items: center;
    justify-content: center;
    gap: 358px;
    .text-container{
        max-width: 540px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
        .title{
            font-size: 32px;
        }
        .text{
            font-size: 16px;
        }
    }
    .buttom-container{
        display: flex;
        align-items: center;
        align-self: center;
        .rounded-buttom{
            cursor: pointer;
            width: 152px;
            height: 152px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;
            span{
                font-size: 14px;
            }
            &:hover{
                /*transform: scale(1.05);*/
                box-shadow: 2px 4px 4px 0px #ADB5BD;
            }
        }
    }
}

.works-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 1200px;
    max-height: 1200px;
    .title{
        font-size: 56px;
        text-align: center;
    }
    .projects-container{
        margin-top: 67px;
        width: 100%;
        .carrousel{
            display: grid;
            grid-auto-flow: column;
            /* scroll-behavior: auto; */
            gap: 20px;
            overflow-y: auto;
/*             overflow-x: auto;
            overscroll-behavior-x: contain;
            scroll-snap-type: x mandatory; */
            scrollbar-width: none;
        }
        .carrousel::-webkit-scrollbar{
            display: none;
        }
    }
}

.sub-container{
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .title{
        font-size: 36px;
        text-align: center;
    }
    .text{
        max-width: 658px;
        margin-top: 23px;
        font-size: 16px;
        text-align: center;
    }
    .buttom{
        margin-top: 42px;
        width: 110px;
        height: 50px;
        span{
            font-size: 14px;
        }
    }
}

.principles-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 647px;
    max-height: 647px;
    padding-left: 50px;
    padding-right: 50px;
    .title{
        font-size: 36px;
        height: 40px;
        margin-bottom: 48px;
    }
    .text{
        font-size: 36px;
        line-height: 36px;
        height: 36px;
    }
    .line{
        margin-top: 22px;
        margin-bottom: 22px;
        height: 1px;
        border-bottom: 1px solid #CED4DA;
    }
}


@media only screen and (max-width: 768px)  {
    .hero-container{
        flex-direction: column-reverse;
        padding-left: 20px;
        padding-right: 20px;
        .overview-container{
            align-self: center;
        }
        .presentation-container{
            max-width: 100%;
            min-width: 280px;
            h2{
                max-width: 40%;
                font-size: 48px;
                line-height: 48px;
            }
            p{
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    .displacer-container{
        display: none;
        visibility: hidden;
    }
    .statement-container{
        flex-direction: column;
        gap: 17px;
        padding-left: 20px;
        padding-right: 20px;
        min-height: 420px;
        max-height: 420px;
        .text-container{
            gap: 24px;
            max-width: none !important;
        }
        .buttom-container{
            align-self: flex-start;
            .rounded-buttom{
                width: 109px;
                height: 50px;
                border-radius: 12px;
            }
        }
    }
    .works-container{
        padding-left: 20px;
        padding-right: 20px;
        min-height: 1068px;
        max-height: 1068px;
        .title{
            font-size: 44px;
            line-height: 56px;
            text-align: left;
        }
        .projects-container{
            margin-top: 46px;
        }
        .sub-container{
            align-self: flex-start;
            .title{
                align-self: flex-start;
                font-size: 36px;
                line-height: 56px;
            }
            .text{
                text-align: left;
            }
            .buttom{
                align-self: flex-start;
                margin-top: 0px;
            }
        }
    }
}


@media only screen and (max-width: 390px)  {
    .hero-container{
        .overview-container{
            width: 100%;
            height: auto;
        }
    }
}
