<div class="hero-container bg-primary-gradient">
    <div class="presentation-container">
        <h2 class="fira-bold color-white1">
            SEBASTIAN RODRIGUEZ
        </h2>
        <p class="nunito-regular color-white2">
            Collaborating to make this world better. Implementing design to people life and improving how we perceive this home we call our world. Let’s explore how design can innovate with non-expected creative solutions.
        </p>
        <div class="buttom-container">
            <div class="btn-secondary-white" (click)="navigate('my work')">
                <span class="fira-medium color-medium2">
                    My works
                </span>
            </div>
            <div class="btn-primary-white" (click)="navigate('contact')">
                <span class="fira-medium color-dark3">
                    Let’s work together
                </span>
            </div>
        </div>
    </div>
    <div class="overview-container">

    </div>
</div>
<div class="displacer-container bg-dark4">
    <div class="displacer">
        <span class="fira-medium color-white1 ">
            MAKING THINGS BETTER
        </span>
        <span class="fira-medium color-white1 ">
            INNOVATING SOLUTIONS
        </span>
        <span class="fira-medium color-white1 ">
            CREATING EXCELLENT RESULTS
        </span>
    </div>
</div>
<div class="statement-container bg-white1">
    <div class="text-container">
        <span class="title color-dark2 fira-bold">
            What is my statement
        </span>
        <p class="text color-dark4 nunito-regular">
            Design progress means to achieve greater things with simpler ways. Let’s design make our lives better through minimal solutions that needs greater amounts of thought.
        </p>
    </div>
    <div class="buttom-container">
        <div class="rounded-buttom bg-dark2" (click)="navigate('about')">
            <span class="fira-medium color-white1">
                Know me
            </span>
        </div>
    </div>
</div>

<div class="works-container bg-dark3">
    <span class="title fira-bold color-white1">My most recent projects</span>
    <div class="projects-container">
        <div #carrousel 
            class="carrousel" 
            (mousedown) ="startDragging($event, false)" 
            (mouseup) ="stopDragging($event, false)" 
            (mouseleave) ="stopDragging($event, false)" 
            (mousemove)="moveEvent($event)"
        >
            <ng-container *ngFor="let project of projectsList; let x = index">
                <app-project-card
                    [project]="project"
                >
                </app-project-card>
            </ng-container>
        </div>
    </div>
    <div class="sub-container">
        <span class="title fira-medium color-white2">
            My works
        </span>
        <p class="text nunito-regular color-white1">
            Several Design projects developed for various enterprises around the world.<br>
            Standing our in Miami, Spain and Mexico with innovative digital products with an unique design approach.
        </p>
        <div class="buttom btn-primary-white">
            <span class="fira-medium color-dark3">
                See more
            </span>
        </div>
    </div>
</div>

<div class="principles-container bg-white1">
    <span class="title fira-bold color-dark4">
        My principles
    </span>
    <span class="text nunito-light color-medium3">
        Research
    </span>
    <div class="line"></div>
    <span class="text nunito-light color-medium3">
        Functionality
    </span>
    <div class="line"></div>
    <span class="text nunito-light color-medium3">
        Accessibility
    </span>
    <div class="line"></div>
    <span class="text nunito-light color-medium3">
        Aesthetic
    </span>
</div>

<app-footer
    [simple]="false"
></app-footer>
