.project-card-big{
    max-width: 1341px;
    min-width: 1341px;
    min-height: 574px;
    max-height: 574px;
    margin-bottom: 44px;
    overflow: hidden;
    background: transparent;
    cursor: pointer;
    .card{
        display: flex;
        width: 100%;
        justify-content: space-between;
        background: #E9ECEF14;
        border-radius: 12px;
        overflow: hidden;
        transition: .4s;
        .text-container{
            padding-top: 44px;
            padding-left: 55px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            max-width: 576px;
            min-height: 525px;
            max-height: 525px;
            gap: 12px;
            .title{
                min-height: 80px;
                font-size: 36px;
                line-height: 40px;
                max-width: 492px;
            }
            .sub-title{
                min-height: 40px;
                .location{
                    font-size: 16px;
                    line-height: 22px;
                }
                .motto{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .intro{
                font-size: 16px;
                line-height: 22px;
                max-width: 445px;
            }
        }
        .img-container{
            max-height: 574px;
            display: flex;
        }
    }
    .card:hover{
        background: #E9ECEF28;
    }
}

@media only screen and (max-width: 768px)  {
    .project-card-big{
        max-width: 728px;
        min-width: 71vh;
        min-height: 526px;
        max-height: 526px;
        margin-bottom: 16px;
        .card{
            flex-direction: column;
            .text-container{
                padding-top: 44px;
                padding-left: 29px;
                min-height: 198px;
                max-height: 198px;
                .intro{
                    display: none;
                    visibility: hidden;
                }
            }
            .img-container{
                max-height: 284px;
                justify-content: flex-end;
                img{
                    object-fit: cover;
                }
            }
        }
    }
}

@media only screen and (max-width: 390px)  {
    .project-card-big{
        max-width: 350px;
        min-width: 90%;
        .card{
            .img-container{
                margin-top: 32px;
                max-height: 252px;
                justify-content: center;
                img{
                    object-fit: contain;
                }
            }
        }
    }
}