<div class="project-card-big">
    <div class="card">
        <div class="text-container">
            <span class="title fira-bold color-white1">
                {{project?.title}}
            </span>
            <div class="sub-title">
                <span class="location nunito-regular color-white2">
                    {{project?.location}}
                </span>
                <span class="motto nunito-light color-white2">
                    {{project?.motto}}
                </span>
            </div>
            <span class="intro nunito-regular color-white2">
                {{project?.intro}}
            </span>
        </div>
        <div class="img-container">
            <img src="{{project?.mainImage}}" alt="main_image">
        </div>
    </div>
</div>
