@font-face {
    font-family: FiraLight;
    src: url('assets/fonts/Fira_Sans/FiraSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: FiraMedium;
    src: url('assets/fonts/Fira_Sans/FiraSans-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: FiraBold;
    src: url('assets/fonts/Fira_Sans/FiraSans-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: NunitoLight;
    src: url('assets/fonts/Nunito_Sans/NunitoSans_10pt-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: NunitoRegular;
    src: url('assets/fonts/Nunito_Sans/NunitoSans_10pt-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: NunitoSemiBold;
    src: url('assets/fonts/Nunito_Sans/NunitoSans_10pt-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: LibreFranklinSemiBold;
    src: url('assets/fonts/Libre_Franklin/LibreFranklin-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: MulishSemiBold;
    src: url('assets/fonts/Mulish/Mulish-SemiBold.ttf');
    font-weight: 600;
}

body{
    margin: 0;
}

/* ------ FONT CLASSES ------*/
.fira-light{
    font-family: 'FiraLight' !important;
}
.fira-medium{
    font-family: 'FiraMedium' !important;
}
.fira-bold{
    font-family: 'FiraBold' !important;
}
.nunito-light{
    font-family: 'NunitoLight' !important;
}
.nunito-regular{
    font-family: 'NunitoRegular' !important;
}
.nunito-semiBold{
    font-family: 'NunitoSemiBold' !important;
}
.libre-semiBold{
    font-family: 'LibreFranklinSemiBold' !important;
}
.mulish-semiBold{
    font-family: 'MulishSemiBold' !important;
}

/* ------FONT COLORS-------*/
.color-white1{
    color: #F8F9FA;
}
.color-white2{
    color: #E9ECEF;
}
.color-medium1{
    color: #DEE2E6;
}
.color-medium2{
    color: #CED4DA;
}
.color-medium3{
    color: #ADB5BD;
}
.color-medium1{
    color: #DEE2E6;
}
.color-dark1{
    color: #6C757D;
}
.color-dark2{
    color: #495057;
}
.color-dark3{
    color: #343A40;
}
.color-dark4{
    color: #212529;
}
.color-dark5{
    color: #030303;
}

/* ------ BACKGROUND COLORS ------*/
.bg-primary-gradient{
    background: linear-gradient(to right, rgba(33,37,41,1) 0%, rgba(73,80,87,1) 100%);
}
.bg-primary-hover{
    background-color: transparent;
    &:hover{
        background-color: rgba(222, 226, 230, 0.24); 
    }
}
.bg-white1{
    background: #F8F9FA;
}
.bg-white2{
    background: #E9ECEF;
}
.bg-medium1{
    background: #DEE2E6;
}
.bg-medium2{
    background: #CED4DA;
}
.bg-medium3{
    background: #ADB5BD;
}
.bg-medium1{
    background: #DEE2E6;
}
.bg-dark1{
    background: #6C757D;
}
.bg-dark2{
    background: #495057;
}
.bg-dark3{
    background: #343A40;
}
.bg-dark4{
    background: #212529;
}
.bg-dark5{
    background: #030303;
}

/* ------ PADDINGS ------*/
.p1{
    padding: 8px;
}
.p2{
    padding: 16px;
}
.p3{
    padding: 24px;
}
.p4{
    padding: 32px;
}

.pv1{
    padding-top: 8px;
    padding-bottom: 8px;
}
.pv2{
    padding-top: 16px;
    padding-bottom: 16px;
}
.pv3{
    padding-top: 24px;
    padding-bottom: 24px;
}
.pv4{
    padding-top: 32px;
    padding-bottom: 32px;
}

.ph1{
    padding-left: 8px;
    padding-right: 8px;
}
.ph2{
    padding-left: 16px;
    padding-right: 16px;
}
.ph3{
    padding-left: 24px;
    padding-right: 24px;
}
.ph4{
    padding-left: 32px;
    padding-right: 32px;
}

.mh4{
    margin-left: 32px;
    margin-right: 32px;
}

/* ------ BUTTOMS ------ */
.btn-primary-white{
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9ECEF;
    &:hover{
        background-color: #DEE2E6;
    }
}

.btn-primary-dark{
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #495057;
    transition: .3s;
    &:hover{
        box-shadow: 2px 4px 4px 0px #ADB5BD;
    }
}

.btn-secondary-white{
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    &:hover{
        background-color: rgba(222, 226, 230, 0.24);
    }
}
