<div class="footer-container">
    <div class="main-container bg-dark3" *ngIf="!simple">
        <span class="primary-text fira-bold color-white1">
            Together, we will make it happen
        </span>
        <span class="secondary-text libre-semiBold color-white2">
            Make your design dream reality
        </span>
        <span class="tertiary-text nunito-regular color-medium2">
            Contact me, and let’s be a team!
        </span>
        <div class="btn-primary-white" (click)="contact()">
            <span class="fira-medium color-dark3">
                Let’s know each other
            </span>
        </div>
    </div>
    <div class="copyright-container bg-dark5">
        <span class="copyright mulish-semiBold color-medium2">
            © Sebastián Rodríguez. All rights reserved.
        </span>
        <span class="copyright mulish-semiBold color-medium2 emoji">
            Developed by <a href="https://www.pedrochacon.com" target="_blank" class="copyright mulish-semiBold color-medium2" >Pedro Chacón.</a>  🦝
        </span>
    </div>
</div>