.footer-container{
    display: flex;
    flex-direction: column;
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 64px;
        max-height: 284px;
        min-height: 284px;
        .primary-text{
            font-size: 32px;
            text-align: center;
        }
        .secondary-text{
            font-size: 16px;
            text-align: center;
            margin-top: 16px;
        }
        .tertiary-text{
            font-size: 16px;
            text-align: center;
            margin-top: 19px;
        }
        .btn-primary-white{
            margin-top: 24px;
            height: 50px;
            width: 123px;
            align-self: center;
        }
    }
    .copyright-container{
        display: flex;
        justify-content: center;
        gap: 10px;
        min-height: 16px;
        max-height: 16px;

    }
}